.aboutMeSection {
    padding: 10px;
    display: flex;
    flex-direction: column;
}

.aboutMeSection__header {
    text-align: center;
    border-style: none;
    border-radius: 5px;
    background-color: #cccccc60;
    padding: 10px;
    box-shadow: 8px 8px 22px -16px rgba(0, 0, 0, 1);
    margin-top: 30px;
    vertical-align: auto;
}

.aboutMeSection__photo {
    box-shadow: 8px 8px 22px -16px rgba(0, 0, 0, 1);
    border-radius: 5px;
    border-style: none;
    margin: auto;
    display: flex;
}

.aboutMeSection__companyName {
    color: #ff4500;
    font-weight: bold;
}

.aboutMeSection__paragraph {
    padding: 10px;
}